<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-lg-2 col-md-2 col-xs-6">
                    {% set route = app.request.attributes.get('_route') %}
                    <a {% if route starts with 'withholding_tax_register_province_backoffice_section' %}
                        class="quick-button small merchant-menu-options selected"
                    {% else %}
                        class="quick-button small merchant-menu-options "
                    {% endif %}
                            href="{{ path('withholding_tax_register_province_backoffice_section') }}">
                        <i class="fa fa-database"></i>
                        <p> {{ 'modules.withholding_tax_register_province'|trans }} </p>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-6">
                    {% set route = app.request.attributes.get('_route') %}
                    <a {% if route starts with 'withholding_tax_register_micro_enterprise_index' %}
                        class="quick-button small merchant-menu-options selected"
                    {% else %}
                        class="quick-button small merchant-menu-options "
                    {% endif %}
                            href="{{ path('withholding_tax_register_micro_enterprise_index') }}">
                        <i class="fa fa-building"></i>
                        <p> {{ 'modules.withholding_tax_register_micro_enterprise'|trans }} </p>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div><!--/col-->

</div><!--/row-->
