<div class = "panel-footer">
    <button type = "submit" class = "btn btn-success"><i class = "fa fa-dot-circle"></i>
        {{ submitLabel }}
    </button>
    <button type = "reset" url = "{{ path('withholding_tax_rule_backoffice_section') }}" class = "btn btn-danger"><i class = "fa fa-ban"></i>
        {{ 'Cancelar'|trans }}
    </button>
</div>