<div class="panel panel-default">
    <div class="panel-body">
        {{ form_row(form.verification_date) }}
        {{ form_row(form.rate) }}
        {{ form_row(form.rule) }}
        {{ form_row(form.minimun_amount) }}
    </div>
</div>