{% extends 'GeoPagosCommonBackBundle:Layout:layout.html.twig' %}

{% block content %}


    <div class="row">
        {% include 'GeoPagosWithholdingTaxBundle:WithholdingTaxRule:menu.html.twig' %}
        {% include 'GeoPagosCommonBackBundle:Common:messages.html.twig' %}
        {{ form_errors(form,{'flashMessage':1}) }}

        {{ form_start(form, {
            'action': path('common_back_withholding_tax_hard_rule_new', {'withholdingTaxRuleId':withholdingTaxRule.id}),
            'attr': {'class': 'form-horizontal', 'id': 'merchant'
            }}) }}
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><strong>{{ 'merchant.new.title'|trans }}</strong></h2>
                </div>

                <div class="panel-body">
                    {% include 'GeoPagosWithholdingTaxBundle:WithholdingTaxRule:hard_rules_body.html.twig' %}
                </div>
                {{ form_end(form) }}

                {% include 'GeoPagosWithholdingTaxBundle:WithholdingTaxRule:hard_rules_edit_buttons.html.twig' with {
                    'submitLabel':'merchant.buttons.save.edit.title'|trans,
                    'withholdingTaxRuleId':withholdingTaxRule.id
                } %}

            </div>
        </div>
    </div>


{% endblock %}
