    <div class="form-group">
        <label class="col-md-3 control-label" for="enable">{{ label }}</label>
        <div class="col-md-9" style="padding-top:7px;">
            {{ value }}
        </div>
    </div>
