<div class = "panel-footer">
    <button type = "submit" class = "btn btn-success"><i class = "fa fa-dot-circle"></i>
        {{ submitLabel }}
    </button>
    <button type = "reset" url = "{{ path('common_back_withholding_tax_dynamic_rule_province_rate', {'withholdingTaxRuleId': withholdingTaxRule.id}) }}" class = "btn btn-danger"><i class = "fa fa-ban"></i>
        {{ 'Cancelar'|trans }}
    </button>
</div>