<a class="btn btn-success btn-xs" target="_blank" href="{{ path('common_back_withholding_tax_certificates_view', {'certificate_id': certificate.id}) }}">
    <i class="far fa-eye"></i>
</a>
<a class="btn btn-info btn-xs" href="{{ path('common_back_withholding_tax_certificates_download', {'certificate_id': certificate.id}) }}">
    <i class="fas fa-cloud-download-alt"></i>
</a>